body {
    margin: 0px;
    font-family: 'Inter', sans-serif;
    color: #7c7972;
    background: rgb(50, 36, 10);
    background: -moz-linear-gradient(140deg, rgba(50, 36, 10, 1) 0%, rgba(16, 12, 4, 1) 100%);
    background: -webkit-linear-gradient(140deg, rgba(50, 36, 10, 1) 0%, rgba(16, 12, 4, 1) 100%);
    background: linear-gradient(140deg, rgba(50, 36, 10, 1) 0%, rgba(16, 12, 4, 1) 100%);
    user-select: none;
    overscroll-behavior-y: none;
}

html{
    overscroll-behavior-y: none;
}

#navbar{
    z-index:1;
}

#searchButton {
    background-color: #7c7972;
}

.navbar_container {
    position: fixed;
    width: 100%;
    height: 70px;
    z-index: 110;
    transition: 0.7s;
}

.navbar_logged_on {
    width: 90%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.navbar_logged_on a {
    margin: 18px 7px 18px 7px;
}

.navbar_logged_on a:hover {
    cursor: pointer;
}
.navbar_logged_on_mid{
    margin: auto;
    position: fixed;
    left: 50%;
    margin-left: -67.6085px;

}

.navbar_logged_on_left {
    font-size: 13px;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgba(255, 255, 255, 0.355);
}

.navbar_logged_on_left_button {
    margin: 0px;
    color: white;
    padding: 7px 12px 7px 12px;
    width: auto;
    border-radius: 9px;
    background-color: rgba(82, 10, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-weight: 300;
}

.active_button {
    background-color: rgb(155, 34, 18);
}

.navbar_logged_on_left_button_text{
    margin-left: 7px;
}

.navbar_logged_on_left_button:hover {
    background-color: rgb(177, 29, 9);
}

.navbar_logged_on_right{
    width: 123px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.navbar_logged_on_right_avatar{
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;

}


/* Button Background */

/* Navbar Color Transition */
.bgColor {
    background-color: #1b1305de;
    transition: all 0.7s;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: -0px -20px 72px 22px rgba(0,0,0,0.85);
    -webkit-box-shadow: -0px -20px 72px 22px rgba(0, 0, 0, 0.85);
    -moz-box-shadow: -0px -20px 72px 22px rgba(0,0,0,0.85);
}

.search_form{
    position: absolute;
    right: 8px;
    top: 26%;
}

#search_bar{
    position: absolute;
    right: 222px;
    top: 26%;

    height: 30px;

    background-color: transparent;
    border-radius: 50rem;
    color: white;
    transition: width 0.4s ease-in-out, border 0.4s ease-in-out, padding 0.4s ease-in-out, visibility 0.4s ease-in-out;

}

#search_bar:focus{
    background-color: #7c79722c;
    border: 0.5px #7c7972 solid;
    outline: none;
}

.search_hidden{
    width: 0px;
    padding: 0px;
    border: 0.5px #7c797200 solid;
    visibility: hidden;

}

.search_show{
    width: 26vw;
    border: 0.5px #7c7972 solid;
    padding-left: 19px;

    visibility: visible;
}

#searchButton {
    background-color: transparent;
    border: none;
    width: 18px;
    height: 18px;
}

#searchButton:hover{
    cursor: pointer;
}

#about_us{
    position: fixed;
    color: white;
    background-color: #7c797238;
    padding-left: 25px;
    padding-top: 10px;
    width: 100px;
    height: 36px;
    top: 53px;
    right: 21px;
    border-radius: 1rem;
}

.about_us_hide{
    visibility: hidden;
}

#about_us_button:hover{
    cursor: pointer;;
}

#savebutton{
    margin: auto;
    margin-top: 10px;
}

#ppict {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: #000000;
    object-fit: cover;

}
