*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ini diset 0 biar enak bisa sampe pojok,
    soalnya default bawaan tuh 2px an kayanya*/
}

body {
    overflow: hidden;
    font-family: 'inter', sans-serif;
    height: 100vh;
    background-image: url("/interface_assets/tagline_bg.png");
    background-color: rgb(33, 16, 4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* biar kalo di zoom out zoom in ga berubah bg nya*/
}


.container-content1 {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
}

.img-content1 {
    height: 60px;
    object-fit: contain;
    /* biar ga keikut semisal di split screen,
    gausa di kasi width  */
}


form {
    height: 523px;
    width: 514px;
    background-color: rgba(19, 19, 19, 0.588);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(35, 35, 35, 0);
    box-shadow: 0 0 40px rgba(8, 7, 16, 0);
    padding: 30px 35px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 6vh;
}


form * {
    font-family: 'Inter', sans-serif;
    color: #dddddd;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 22px;
    padding-top: 5px;
    align-items: center;
}

label {
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    color: rgb(144, 144, 144);
}

input {
    color: rgb(202, 202, 202);
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(43, 43, 43, 0.5);
    border-radius: 30px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 400;
    text-indent: 15px;
    margin-bottom: 15px;
}

::placeholder {
    color: rgb(112, 112, 112);

}

.loginbutton {
    background-color: rgb(112, 79, 6);
    color: #ffffff;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 300;
    border-radius: 30px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.loginbutton:hover{
    background-color: rgb(90, 63, 5);
    cursor: pointer;
    transition: 0.4s;
}

.or-separator {
    margin-top: 20px;
    text-align: center;
    /* border-top: 1px solid #ccc; */
}

.or-separator i {
    background: #ffffff00;
    position: rergb(65, 255, 201);
    z-index: 1;
}

.social {
    margin-top: 20px;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    line-height: 42px;
    width: 100%;
    justify-content: space-between;
}

.social div {
    transition: 0.4s;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    padding: 0px 0px 0px 0px;
    color: #000000b2;
    text-align: start;
    align-items: center;
    display: flex;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    font-size: 13px;
    font-weight: 400;
}

.social div:hover {
    transition: 0.4s;
    background-color: rgba(255, 255, 255, 0.599);
    cursor: pointer;
}

.social i {
    margin-right: 5px;
}


.SizedBox {
    height: 10px;
}

.social-logo {
    margin-right: 6px;
    height: 25px;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0);
}

#social-logo-fb{
    padding: 1px;
}

.reset {
    font-size: 14px;
    text-align: center;
    padding: 25px 0px;
}

.forgot {
    transition: 0.4s;
    color: rgb(184, 137, 33);
    text-decoration: none;
}

.forgot:hover {
    transition: 0.4s;
    color: rgb(138, 102, 25);
}

.suggest {
    text-align: center;
    font-size: 14px;
}

.suggest .sign {
    transition: 0.4s;
    color: rgb(184, 137, 33);
    text-decoration: none;
}

.suggest .sign:hover{
    transition: 0.4s;
    color: rgb(138, 102, 25);
    text-decoration: none;
}

.isInvalid{
    border: #963434 solid 1px;
}

.error_msg{
    color: #963434;
    font-size: 11px;
    position: absolute;
    top: 62px;
    left: 23px;
}

.inputwrapper{
    position: relative;
    width: 100%;
}

.alert-success{
    color: rgb(22, 77, 22);
    text-align: center;
}

