body {
    background-color: rgb(33, 16, 4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    height: 1px;
}

.movie_image{
    width: 100vw;
    height: 45vw;
    object-fit:cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0, 0, 0, 0.29), rgba(0,0,0,1), rgba(0,0,0,1),rgba(0,0,0,1),rgba(0, 0, 0, 0.286), rgba(0,0,0,0));
}

.movie_title{
    position: absolute;
    top: 0px;
    left: 50px;
    height: 100vh;
}

.movie_title_img{
    max-height: 180px;
    max-width: 500px;
}

.movie_title_inside{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.movie_subdesc {
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #ffffff;
    text-shadow: 2px 2px 20px rgba(0,0,0,1);
    font-weight: 400;

}

.movie_desc {
    color: white;
    text-align: left;
    font-size: 17px;
    width: 40%;
    font-weight: 200;
    margin-bottom: 25px;
    text-shadow: 2px 2px 15px rgba(0,0,0,0.97);
}

.movie_play {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 120px;
    background-color: rgba(82, 10, 0, 0.989);
    color: white;
    font-weight: 300;
    padding: 7px 15px 7px 15px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 16px;
}

.movie_play:hover {
    background-color: rgb(177, 29, 9);
}
