body{
    height: 1px;
}

.main-container{
    margin-top: 55px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
}

.player-container{
    height: 35vw;
    width: 95vw;
}

.player{
    width: 100%;
    height: 100%;
}

h3{
    color: rgba(255, 255, 255, 0.57);
    font-weight: 500;
}
