*,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Ini diset 0 biar enak bisa sampe pojok,
    soalnya default bawaan tuh 2px an kayanya*/
}

body {
    font-family: 'inter', sans-serif;
    height: 100vh;
    background-image: url("images/tagline_bg.png");
    background-color: rgb(33, 16, 4);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* biar kalo di zoom out zoom in ga berubah bg nya*/
}


.container-content1 {
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: auto;
}

.img-content1 {
    height: 60px;
    object-fit: contain;
    /* biar ga keikut semisal di split screen, 
    gausa di kasi width  */
}

.form {
    background-color: antiquewhite;
}

form {
    height: 400px;
    width: 500px;
    background-color: rgba(19, 19, 19, 0.704);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 40px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(35, 35, 35, 0);
    /* box-shadow: 0 0 40px rgba(8, 7, 16, 0); */
    padding: 30px 35px;
}


form * {
    font-family: 'Inter', sans-serif;

    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

form h3 {
    font-size: 38px;
    font-weight: 600;
    line-height: 42px;
    text-align: center;
    color: #ffffff;
    padding-bottom: 20px;
    align-items: center;
    margin-bottom: 40px;
}

.SizedBox {
    height: 10px;
}

.suggest {
    text-align: center;
    font-size: 16px;
    margin-bottom: 75px;
}

.suggest .sign {
    color: rgb(184, 137, 33);
    text-decoration: none;
}