h1 {
    text-align: center;
}

hr{
    border-width: 0.5px;
    border-color: #664e1b4b;
}

.movie-form{
    display: flex;
    flex-direction: column;
    margin: 20px 20px 20px 20px;
}

.movie-form input, .movie-form textarea{
    color: rgb(205, 205, 205);
    display: block;
    height: 32px;
    width: 1100px;
    background-color: rgba(43, 43, 43, 0.253);
    border-radius: 30px;
    font-size: 14px;
    font-weight: 400;
    text-indent: 15px;
    margin-top: 7.5px;
    margin-bottom: 20px;
    border: none;
}

.movie-form input:focus, .movie-form textarea:focus{
    background-color: rgba(77, 77, 77, 0.253);
    border: none;
    outline: none;
}

.button {
    color: white;
    background-color: #9B2212;
    margin-top: 7px;
    margin-bottom: 7px;
    width: fit-content;
    height: 35px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 200;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}


.button:hover{
    background-color: #6d180c;
    cursor: pointer;
}

#desc{
    height: 90px;
    border-radius: 28px;
    padding-top: 15px ;
    padding-left: 15px;
    width: 1085px;
}

.file-input{
    width: 350px;
    max-width: 100%;
    color: #444;
    padding-top: 13px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 5px;
    background: rgb(43, 43, 43, 0.5);
    border-radius: 10px;
    border: 1px solid #5555553b;
    height: 38px;
    border-radius: 2rem;
    margin-top: 10px;
}

.file-input::file-selector-button{
margin-right: 20px;
border: none;
background: rgb(112, 79, 6);
padding-top: 6px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
border-radius: 70px;
color: #fff;
cursor: pointer;
transition: background .2s ease-in-out;
height: 24px;
margin-top: 1px;
font-size: 11px;
}

.file-input::file-selector-button:hover {
background: rgb(155, 111, 15);
}

.file-input:hover{
    background-color: rgba(77, 77, 77, 0.253);
}

.genre-container{
    margin-bottom: 15px;
}

.genre-container li{
    display: inline-block;
}


.checkbox-container input{
    width: 15px;
    margin: 0px;
    margin-right: 15px;

}

.checkbox-container p{
    margin: 0px;
}

.checkbox-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 150px;
    margin-right: 2px;

}

.delete-button{
    margin-left: 15px;
}

.error_msg{
    color: #6d180c;
    font-size: 14px;
    margin-top: -10px;
    margin-bottom: 15px;
}

#select-label{
    margin-bottom: 15px;
}
