h1 {
    color: white;
    text-align: center;

}

hr{
    border-width: 0.5px;
    border-color: #664e1b4b;
}

.poster_clip {
    display: inline-block;
    height: 272px;
    width: 190px;
    background-color: #7c7972;
    border: #664e1b solid 1px;
    background-size: cover;
    background-repeat: unset;
    margin-top: 20px;
    margin-right: 11.3px;
    margin-left: 11.3px;
}


.posters_container {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 95%;
    display: inline-block;
}

.button-container{
    display: inline-block;
}

.button {
    color: white;
    background-color: #9B2212;
    margin-top: 7px;
    margin-bottom: 7px;
    width: fit-content;
    height: 35px;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    font-weight: 200;
    border: none;
    font-family: 'inter';
    font-size: 15px;
}

.button:hover{
    background-color: #56140b;
    cursor: pointer;
}

.button:active, .button:visited{
    color: white;
}

.button img {
    margin-left: 15px;
}

.button p {
    margin-left: 10px;
    margin-right: 15px;
}

.add-movie{
    margin-left: 37px;
    margin-top: 25px;
}

